main {
  margin-top: 200px;
  padding: 0;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
}
.title, .title-menu {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 2rem;
  font-family: 'Butterfly Kids';
}

.title-menu {
  margin-bottom: 0;
  margin-top: 3rem;
}

.foods-container {
  margin-top: 3%;
  padding-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1.5rem;
  border-bottom: 2px solid black;
}

@media (max-width: 1056px) {
  .foods-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1056px) and (max-width: 1350px) {
  .foods-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1350px) and (max-width: 1500px) {
  .foods-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.food-box {
  display: flex;
  flex-direction: column;
  margin-inline: 20%;
  border: 3px solid black;
  border-radius: 15px;
  width: 200px;
  height: 270px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(78, 78, 78, 0.45)
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.food-image {
  margin-top: 0.5em;
  height: 8rem;
  width: 11.5em;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.food-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
}

.food-cost {
  color: darkslategrey;
}

.button-container {
  display: flex;
  justify-content: center;
}
.order-now-button {
  font-family: 'Butterfly Kids';
  font-size: 25px;
  font-weight: bold;
  width: 5em;
  height: 1.5em;
  border: none;
  border-radius: 20px;
  background-color: rgba(78, 78, 78, 0.8);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.5);
  cursor: pointer;
  transition: all 1s;
}
.order-now-button:hover {
  height: 1em;
  margin-top: 15px;
}